body {
  max-width: 320px;
  margin: auto;
  background: #ff85ce;
  font-family: 'DotGothic16', sans-serif;
  font-size: 13px;
  font-weight:bolder;
}

img {
  display: block;
  max-width: 100%;
}

.chat-container {
  max-width: 300px;
  margin: auto;
  border: 1px solid black;
  box-shadow: 0 0 5px #3333;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-box {
  margin-bottom: 10px;
  width: 65%;
  margin: 0 25px 25px;
}

.message-box .message-content {
  background: white;
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  margin-bottom: 0;
}


.message-author {
  margin: 5px 0 0 0;
  color: #c63e8f;
}

.message-box-regina .message-content {
  background: white;
  padding: 10px;
  border-radius: 10px 10px 0 10px;
}

.message-box-regina {
  align-self: flex-end;
  text-align: right;
}

.message-box-karen .message-content {
  background: white;
}

.message-box-cady .message-content {
  background: white;
}

h1 {
  margin: 0;
  background: #c63e8f;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  color: white;
}

.chat-form {
  background: #c63e8f;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

hr {
  color: #c63e8f;
  width: 300px;

}